.Weather {
    border: 1px solid plum;
    border-radius: 4px;
    padding: 20px;
}
.Weather form {
    margin-bottom: 20px;
}
.Weather input {
    height: 40px;
    border-radius: 4px;
    border-color: blueviolet;
    outline-color: rgb(198, 143, 249);
}
.Weather .btn {
background: rgb(198, 143, 249);
}
.form-conrtol {
    min-width: 400px;
    outline-color: rgb(198, 143, 249);
}
::placeholder{
    color: rgb(198, 143, 249);
}
.Weather h1 {
    color:rgb(162, 90, 229);
    font-weight: 400;
    font-size: 24;
    line-height: 25px;
}
.Weather p {
    color:rgb(125, 79, 168);
    font-size: 20;
    margin-bottom: 0px;
}
.Weather ul {
  padding: 0; 
  list-style: none;
}
.Weather .list-decoration {
list-style: circle;
}
.Weather li {
    color: rgb(115, 81, 147);
    font-size: 18;
}
.flex-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px; 
}
.clearfix {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.Weather .main-icon{
    height: 64px;
    width: 64px;
    display: inline-block;
    height: 120px;
    width: 120px;
}
.temperature {
    color: rgb(74, 29, 116);
    font-size: 58px;
    line-height: 58px;
    font-weight: 400px;
}
.unit {
    color: rgb(40, 8, 70);
    font-size: 16px;
    font-weight: 400px;
    position: relative;
    top:-34px;
}
.WeatherInfo ul {
    list-style:disc;  
}